body{
    background-image: linear-gradient(rgb(168, 204, 250),rgb(89, 133, 190),rgb(123, 123, 167));
}
.fundo{
    background-image: linear-gradient(rgb(65, 160, 177),rgb(76, 93, 129));
    color: rgb(78, 170, 170) ;
}
.meio{
    text-align: center;
    padding-top: 2.5%;
}
.meio2{
    text-align: center;
}
.Ttxt{
    padding-left: 2.5%;
}
.ttxt{
    padding-left: 3.5%;
    padding-right: 6%;
}
img{
    padding-left: 10% ;
    padding-right: 10%;
}
